/* tailwindcss core */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global HTML */

html {
    scroll-behavior: smooth;
}

/* google fonts */
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "width" 100;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}

.vujahday-script-regular {
    font-family: "Vujahday Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* flowbite components */

.transition {
    @apply transition-all duration-300 ease-in-out;
}

.transition-left {
    @apply transition-all duration-300 ease-in-out transform translate-x-0;
}

.transition-right {
    @apply transition-all duration-300 ease-in-out transform -translate-x-0;
}

.transition-max-height {
    transition: max-height 0.3s ease-in-out;
}

.card {
    @apply bg-white border border-gray-300 rounded-lg;
}

.product-card {
    @apply card hover:border-[#D30A0A] transition;
}

.title {
    @apply font-semibold uppercase mb-4;
}

.title-sm {
    @apply font-semibold text-xs md:text-sm lg:text-base mb-4;
}

.title-lg {
    @apply font-semibold text-lg uppercase mb-4;
}

.label-sm {
    @apply block mb-2 text-xs font-medium text-gray-900;
}

.label-md {
    @apply block mb-2 text-sm font-medium text-gray-900;
}

.label-lg {
    @apply block mb-2 text-base font-medium text-gray-900;
}

.label-peer {
    @apply inline-flex items-center justify-center w-full px-2 py-4 text-gray-700 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-red-500 peer-checked:text-white peer-checked:bg-red-600 hover:text-gray-600 hover:bg-gray-50 transition;
}

.input {
    @apply block w-full text-sm text-gray-900 border py-2 border-gray-300 rounded-lg focus:ring-0 focus:border-[#D30A0A] transition;
}

.input-success {
    @apply block w-full text-sm text-green-900 border border-green-300 rounded-lg bg-green-50;
}

.input-error {
    @apply block w-full text-sm text-[#D30A0A] border border-red-300 rounded-lg bg-red-50;
}

.text-area {
    @apply block w-full text-gray-900 border border-gray-300 rounded-lg;
}

.select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full;
}

.input-checkbox {
    @apply w-4 h-4 text-[#D30A0A] bg-gray-100 border-gray-300 rounded focus:ring-0 focus:ring-offset-0;
}

.input-radio {
    @apply w-4 h-4 text-[#D30A0A] bg-gray-100 border-gray-300 focus:ring-0 focus:ring-offset-0;
}

.img-circle {
    @apply rounded-full;
}

.indicator {
    @apply flex w-2 h-2 me-3 rounded-full;
}

.sm {
    @apply p-2 text-xs;
}

.md {
    @apply p-2.5 text-sm;
}

.lg {
    @apply p-4 text-base;
}

.img-sm {
    @apply w-10 h-10;
}

.img-md {
    @apply w-24 h-24;
}

.img-lg {
    @apply w-32 h-32;
}

.img-xl {
    @apply w-48 h-48;
}

.img-2xl {
    @apply w-64 h-64;
}

.img-3xl {
    @apply w-80 h-80;
}

.img-4xl {
    @apply w-96 h-96;
}

.button {
    @apply text-white font-medium rounded text-sm px-5 py-2 flex items-center justify-center;
}

.button-primary {
    @apply rounded bg-red-600 px-8 py-4 text-sm font-medium text-white shadow-lg transition hover:bg-white hover:text-black
}

.button-toggle {
    @apply relative w-11 h-6 bg-gray-200 dark:peer-focus:ring-blue-800 rounded-full dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-red-600;
}

.button-icon {
    @apply text-white bg-[#D30A0A] hover:bg-[#AF0808] font-medium rounded-lg text-sm px-3 py-2.5 flex items-center justify-center gap-2;
}

.button-default {
    @apply button bg-[#D30A0A] hover:bg-[#AF0808];
}

.button-dark {
    @apply button border-gray-800 bg-black hover:bg-gray-700;
}

.button-light {
    @apply button bg-white border border-gray-300 hover:bg-gray-100;
}

.button-green {
    @apply button bg-green-700 hover:bg-green-800;
}

.button-gray {
    @apply button button border-gray-800 bg-gray-500 hover:bg-gray-600;
}

.button-red {
    @apply button bg-[#D30A0A] hover:bg-[#AF0808];
}

.button-blue {
    @apply button bg-blue-700 hover:bg-blue-800;
}

.button-yellow {
    @apply button bg-yellow-700 hover:bg-yellow-800;
}

.button-purple {
    @apply button bg-purple-700 hover:bg-purple-800;
}

.badge {
    @apply text-xs font-medium px-2.5 py-0.5 rounded;
}

.badge-default {
    @apply badge bg-blue-100 text-blue-800;
}

.badge-dark {
    @apply badge bg-gray-100 text-gray-800;
}

.badge-light {
    @apply badge bg-gray-200 text-gray-800;
}

.badge-green {
    @apply badge bg-green-100 text-green-800;
}

.badge-red {
    @apply badge bg-red-100 text-red-800;
}

.badge-yellow {
    @apply badge bg-yellow-200 text-yellow-700;
}

.badge-purple {
    @apply badge bg-purple-100 text-purple-800;
}

.badge-pink {
    @apply badge bg-pink-100 text-pink-800;
}

.badge-indigo {
    @apply badge bg-indigo-100 text-indigo-800;
}

.badge-icon {
    @apply badge inline-flex items-center justify-center w-6 h-6 text-sm font-semibold text-gray-800 bg-gray-100;
}

.badge-noti {
    @apply absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2;
}

.alert {
    @apply p-4 text-sm rounded-lg dark:bg-gray-800;
}

.alert-info {
    @apply alert text-blue-800 bg-blue-50;
}

.alert-success {
    @apply alert text-green-800 bg-green-50;
}

.alert-warning {
    @apply alert text-yellow-800 bg-yellow-50;
}

.alert-error {
    @apply alert text-red-800 bg-red-50;
}

.alert-default {
    @apply alert text-gray-800 bg-gray-50;
}

.card-table {
    @apply relative overflow-x-auto shadow-md sm:rounded-lg;
}

.table {
    @apply w-full text-sm text-left text-gray-500;
}

.thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50;
}

.th {
    @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap;
}

.tr {
    @apply bg-white border-b hover:bg-gray-50;
}

.td {
    @apply px-6 py-4;
}

.icon-sm {
    @apply w-4 h-4;
}

.icon-md {
    @apply w-5 h-5;
}

.icon-lg {
    @apply w-6 h-6;
}

.icon-xl {
    @apply w-8 h-8;
}

.icon-2xl {
    @apply w-10 h-10;
}

.icon-3xl {
    @apply w-12 h-12;
}

.icon-4xl {
    @apply w-16 h-16;
}

.link-sm {
    @apply text-xs font-medium text-[#D30A0A] hover:underline;
}

.link-md {
    @apply text-sm font-medium text-[#D30A0A] hover:underline;
}

.link-lg {
    @apply text-base font-medium text-[#D30A0A] hover:underline;
}

.hr-default {
    @apply h-px my-8 bg-gray-200 border-0;
}

.hr-trim {
    @apply w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10;
}

.hr-shape {
    @apply w-8 h-8 mx-auto my-8 bg-gray-200 border-0 rounded md:my-12;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
} 

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    @apply no-scrollbar;
}

.tox-tinymce {
    border: 0 !important;
}

.tox-editor-header {
    box-shadow: none !important;
    padding: 5px 0 !important;
    border-bottom: 1px solid #e2e8f0 !important;
}
.tox-sidebar-wrap:hover {
    box-shadow: none !important;
    border: 0 !important;
}

.tox .tox-edit-area::before {
    border: 0 !important;
}
